
//- Текстовые поля
include text-field/text-field
//- +text-field(title, type, placeholderInputText)
//- title - заголовок. Если указать пустую строку получим текстовое поле без заголовка
//- type - тип поля ввода
//- placeholderInputText - placeholder поля ввода

//- Выпадающие списки
include dropdown/dropdown
//- +dropdown(count, title, text)
//- count - кол-во элементов
//- title - имя
//- titleBox - заголовок внутри выпдающего списка
//- text - МАССИВ имен элементов

//- Кнопки
include like-button/like-button  
//- +like-button(number)
//- number - кол-во лайков
include rate-button/rate-button  
