mixin dropdown(count, title, titleBox, text)
  .dropdown 
    h3.title.title_h3=title
    .dropdown__box
      span.dropdown__title=titleBox
      img.dropdown__image(src='assets/img/icons/arrow.svg' alt='dropdown-arrow')
    .dropdown-modal
      ul.dropdown-modal__items
        -for(let i = 0; i < count; i++)
          li.dropdown-modal__item
            h3.title.title_h3=text[i]
            .counter.dropdown-modal__counter
              button.counter__btn
                  img.counter__image.counter__btn_minus(src='assets/img/icons/modal-minus-disabled.svg')
              span.title.title_h3.counter__score 0
              button.counter__btn
                img.counter__image.counter__btn_plus(src='assets/img/icons/modal-plus.svg')
                  
      .dropdown-btns.dropdown-modal__btns 
        button.dropdown-btns__btn.dropdown-btns_cancel.title_h3(hidden) Очистить
        button.dropdown-btns__btn.dropdown-btns_apply.title_h3 Применить
        
include _date/_date
      
