.dropdown-modal {
  display: -webkit-flex;
  display: -ms-flex;
  display: none;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  row-gap: 20px;
  width: 100%;
  top: 63px;
  left: 0;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid $base-c50;
  border-radius: 0px 0px 4px 4px;
  padding: 15px 7px 15px 15px;
  &.active{
    display: flex;
    visibility: visible;
  }
  &__items {

  }
  &__item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btns {}
  &__counter {}
  .counter {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
    max-width: 100px;
  }
}
