.dropdown {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  &__box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
}
